@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap');


.App {

  font-family: Helvetica, sans-serif;
  text-align: center;

  a,
  a:visited,
  a:link,
  a:hover {
    text-decoration: none;
  }

  ul,
  li {
    list-style: none;
  }

  *:hover,
  *:focus {
    outline: none;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }

  #header {
    .navbar {
      padding: 0;

      //header container
      .header-continer {
        display: flex;
        background-color: #204ecf;
        height: 80px;
        padding: 0 (calc((100vw-910px)/2));
        margin: 0;

        //logo
        .logo-container {
          display: flex;
          justify-content: flex-end;
          margin: 0;
          width: calc(max(300px, ((100vw - 930px) / 2) - 0px));

          img {
            margin-right: 130px;
          }

          .header-logo {}
        }

        //가운데 링크들 container
        .main-link-container {
          //header 양옆 세로선
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;

          .title-container {
            display: flex;
            margin-left: 60px;

            .nav-title {
              color: #fff;
              opacity: 0.9;
              font-weight: 500;
            }

            .nav-title:hover {
              opacity: 1.0;
            }
          }
        }

        .search-container {
          padding-left: 25px;
          width: calc(max(300px, ((100vw - 930px) / 2) - 0px));
          display: flex;

          .search {
            background-color: #204ecf;
            border: 1px solid #204ecf;

            svg {
              margin-right: 10px;
            }
          }

          .search:hover {
            opacity: 1.0;
          }
        }
      }
    }
  }

  // sidebar + main content Screen
  #content-container {
    display: flex;
    // sidebar
    #sidebar {
      display: flex;
      justify-content: flex-end;
      width: calc(max(300px, ((100vw - 540px) / 2) - 0px));
      height: calc(100vh - 80px);
      background-color: #f5f7f9;
      border-right: 1px solid rgba(211, 220, 228, 1.00);

      .sidebar-menu-container {
        padding: 16px 0 88px 0;
        width: 300px;


        //sidebar chapter
        .sidebar-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: left;

          li {
            box-sizing: content-box;
          }

          // sidebar chapter title
          .sidebar-title {
            font-size: 12px;
            width: 243px;
            padding: 8px 16px;
            font-weight: 600;
            color: #8899a8;
          }
                  // sidebar list  items
        .sidebar-menu-list {
          width: 243px;
          padding: 8px 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #5c6975;
        }

        // sidebar list  items hover
        .sidebar-menu-list:hover {
          background-color: rgb(236, 239, 241);
        }
          .sidebar-menu-list-container {

            // // sidebar list  items
            .sidebar-menu-list {
              width: 243px;
              padding: 8px 16px;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #5c6975;
            }

            // // sidebar list  items hover
            .sidebar-menu-list:hover {
              background-color: rgb(236, 239, 241);
            }
          }
        }
      }
    }
    //main-content
    #main-content{
      display: flex;
      width: 100%;
      .main{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 5%;
        text-align: left;
        .main-title{
          display: flex;
          flex-direction: column;
          padding-top: 24px;
          border-bottom: 1px solid #e3e8ed;
          h1{
            color: rgba(59 , 69, 78, 1.00);
            font-size: 48px;
            line-height: 56px;
            font-weight: 700;
          }
          .main-title-sub{
            color: rgba(136,153,168,1.00);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-top: 16px;
            margin-bottom: 24px;
          }
        }
        .contents-container{
          .contents-item{
            padding-top: 40px;
            .content-title{
              font-size: 24px;
              line-height: 36px;
              font-weight: 700;
              color: #3b454e;
            }
            .content-subtitle{
              font-size: 16px;
              line-height: 24px;
              color: #3b454e;
              font-weight: 700;
              padding: 24px 0 8px 0;
            }
            //after editor extensions
            .contents-title2{
              font-size: 24px;
              line-height: 36px;
              font-weight: 700;
              span{
                color: rgb(32, 78, 207);
              }
              .title1:hover, .title2:hover{
                color: rgb(28, 42, 80);
              text-decoration-line: underline;
              cursor: pointer;
              }
            }
          }
          .prev-next-btn-container{
            display: flex;
            justify-content: space-between;
            .prev-next-btn{
              padding: 16px;
              border: 1px solid rgb(227, 232, 237);
              border-radius: 5px;
              display: flex;
              width: 50%;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              transition: all 0.2s;
              .arrow-icon{
                color: rgba(136,153,168,1.00);
              }
              .btn-text-container{
                .btn-title{
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 18px;
                  color: rgba(136,153,168,1.00);
                }
                .btn-dir{
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  color: rgba(59 , 69, 78, 1.00);
                }
              }
            }
            .prev-next-btn:hover{
              transform: translateY(-2px);
              box-shadow: 0px 12px 13px rgba(1,1,1,0.1);
              .btn-dir, .arrow-icon{
                color: rgb(32, 78, 207);
              }
            }
          }
          .footer{
            border-top: 1px solid rgb(227, 232, 237);
            margin-top: 24px;
            color: rgba(136,153,168,1.0);
            display: flex;
            justify-content: space-between;
            .modified-days{
              line-height: 22px;
              font-size: 14px;
              font-weight: 400;
              display: flex;
              align-items: center;
              padding: 20px 0;
            }
            .helpful-box{
              display: flex;
              align-items: center;
              
              .helpful-txt{
                font-size: 12px;
                font-weight: 500;
                margin-right: 20px;
              }
              .helpful-emoticons{
                .face-icon{
                  margin-left: 10px;
                  cursor: pointer;
                }
                .face-icon:first-child:hover{
                  color: red;
                }
                .face-icon:nth-child(2):hover{
                  color: brown;
                }
                .face-icon:last-child:hover{
                  color:green;
                }
              }
            }
          }
        }
      }
      .side-nav{
        display: flex;
        width:calc(max(220px, calc(100vw - max(300px, calc((100vw - 910px) / 2 - 0px)) - 320px - 80px - 80px - 0px)));
        nav{
          .main-side-nav-tap{
            margin-top: 50px;
            font-weight: 600;
            font-size: 14px;
            color: rgba(92,105,117,1.00);
            padding: 3px 20px;
            border-left: 1px solid rgba(211,220,228,1.00);
          }
          .main-side-nav-tap:hover{
            color: rgb(32, 78, 207);
            cursor: pointer;
            
          }
          .side-nav-li{
            padding-left: 0;
            .side-nav-li-title{
              margin-top: 20px;
              font-size: 12px;
              font-weight: 700;
              line-height: 18px;
              padding: 3px 20px;
              color: #8899a8;
              border-left: 1px solid rgba(211,220,228,1.00);
            }
            .side-nav-li-items{
              padding-left: 0;
              .side-nav-li-item{
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                color: rgba(92,105,117,1.00);
                text-align: left;
                padding: 5px 30px;
                border-left: 1px solid rgba(211,220,228,1.00);
              }
              .side-nav-li-item:hover{
                color: #204ecf;
              }
            }
          }
        }
      }
    }
  }

  // 세로 선
  .vertical-line {
    display: flex;
    width: 1px;
    background-color: rgba(234, 242, 247, 1.00);
    height: 40px;
  }

  .menu-margin {
    margin: 16px 0;
  }

  .menu-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #8899a8;
  }
  .ta-l{
    text-align: left;
  }
  .ta-r{
    text-align: right;
  }
  .mar-r-10{
    margin-right: 10px;
  }
  .mar-l-10{
    margin-left: 10px;
  }
}