@charset "UTF-8";
ul, li {
  list-style: none;
}

.list_default, .list_disable, .list_active {
  width: 300px;
  height: 50px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #eee;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.list_active {
  background-color: #007bff;
  color: #fff;
}

.alerts_green {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #dfefd8;
  color: #6a8f6f;
}
.alerts_green span {
  font-weight: bold;
}

.alerts_blue {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #d9ecf6;
  color: #658696;
}
.alerts_blue span {
  font-weight: bold;
}

.alerts_yellow {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fcf8e2;
  color: #997f63;
}
.alerts_yellow span {
  font-weight: bold;
}

.ani_text {
  color: #000;
  text-align: center;
}

.ani_text:hover {
  -webkit-animation-name: 와리가리;
          animation-name: 와리가리;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes 와리가리 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes 와리가리 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.shake {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #87ceeb;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
.shake .shake_btn span {
  font-weight: bold;
}

.shake:hover {
  -webkit-animation-name: 흔들흔들;
          animation-name: 흔들흔들;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes 흔들흔들 {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: 50% 50%;
    transform: rotate(15deg);
  }
  75% {
    transform-origin: 50% 50%;
    transform: rotate(-15deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}

@keyframes 흔들흔들 {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: 50% 50%;
    transform: rotate(15deg);
  }
  75% {
    transform-origin: 50% 50%;
    transform: rotate(-15deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}
.plus {
  text-align: center;
  margin: 150px auto;
  font-size: 70px;
  cursor: pointer;
  width: 84px;
}
.plus .plus_btn span {
  font-size: 50px;
}

.plus:hover {
  -webkit-animation-name: 플러스;
          animation-name: 플러스;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: center;
}

@-webkit-keyframes 플러스 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: scale(2) rotate(45deg);
  }
}

@keyframes 플러스 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: scale(2) rotate(45deg);
  }
}/*# sourceMappingURL=style3.css.map */