@charset "UTF-8";
@use './default';
.list_default, .list_active, .list_disable {
  width: 300px;
  height: 50px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #eee;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.list_active {
  background-color: #007bff;
  color: #fff;
}

.alerts_green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #dfefd8;
  color: #6a8f6f;
}

.alerts_green span {
  font-weight: bold;
}

.alerts_blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #d9ecf6;
  color: #658696;
}

.alerts_blue span {
  font-weight: bold;
}

.alerts_yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fcf8e2;
  color: #997f63;
}

.alerts_yellow span {
  font-weight: bold;
}

.ani_text {
  color: #000;
  text-align: center;
}

.ani_text:hover {
  -webkit-animation-name: 와리가리;
          animation-name: 와리가리;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes 와리가리 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  75% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes 와리가리 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  75% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.shake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #87ceeb;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

.shake .shake_btn span {
  font-weight: bold;
}

.shake:hover {
  -webkit-animation-name: 흔들흔들;
          animation-name: 흔들흔들;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes 흔들흔들 {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes 흔들흔들 {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.plus {
  text-align: center;
  margin: 150px auto;
  font-size: 70px;
  cursor: pointer;
  width: 84px;
}

.plus .plus_btn span {
  font-size: 50px;
}

.plus:hover {
  -webkit-animation-name: 플러스;
          animation-name: 플러스;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes 플러스 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: scale(2) rotate(45deg);
            transform: scale(2) rotate(45deg);
  }
}

@keyframes 플러스 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: scale(2) rotate(45deg);
            transform: scale(2) rotate(45deg);
  }
}
/*# sourceMappingURL=style3.css.map */