*{
    margin: 0;
    padding: 0;
}
body{
    .main_background{
        text-align: center;
        padding: 1px; // margin collapes 안되게 겹친것을 떨어트리기 위함
        width: 100%;
        height: 500px;
        background-image: url(/html/img/shoes.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(80%);
        .main_title{
            color: #fff;
            font-size: 40px;
            margin-top: 150px;
        }
        p{
            margin-top: 50px;
            color: #fff;
            font-size: 18px;
        }
        button{
            padding: 10px;
            font-weight: bold;
            margin-top: 30px;
        }
    }
}